<div class="table">
    <h3>楼房容积率</h3>
    <div id="building_volume_ratio_add" class="add_button">
        <a href="/business/imposition/database/building/add?t=building_volume_ratio">添加</a>
    </div>
    <div id="building_volume_ratio_add_field" style="display:none">
        <form id="building_volume_ratio_add_form" class="add_form" method="post" action="/business/imposition/database/building/add?t=building_volume_ratio">
            <p><em>*</em>容积率系数:<input type="text" name="volume" value="" class="required"/></p>
            <p><em>*</em>修正系数:<input type="text" name="correction_factor" value="" class="required"/></p>
            <p><em>*</em>类别:
                住宅<input type="radio" name="product_type" value="residential" class="required"/>
                非住宅<input type="radio" name="product_type" value="nonresidential" class="required"/></p>
            <p><input type="submit" value="提交"/></p>
        </form>
    </div>
    <table>
        <thead>
            <th>序号</th>
            <th>容积率系数</th>
            <th>修正系数</th>
            <th>类别</th>
            <th>删除</th>
        </thead>
        {% for index, item in enumerate(data) %}
            <tr>
                <td><a href="/business/imposition/database/building/update?t=building_volume_ratio">{{ index+1 }}</a></td>
                <td>{{ escape(item.volume) }}</td>
                <td>{{ item.correction_factor }}</td>
                <td>{{ escape(item.product_type) }}</td>
                <td>
                    <a href="/business/imposition/database/building/delete?t=building_volume_ratio">删除</a>
                </td>
            </tr>
        {% end %}
    </table>
</div>
