<div class="table">
    <h3>楼房数据基本价格</h3>
    <table>
        <thead>
            <th>序号</th>
            <th>产别</th>
            <th>结构形式及墙体类型</th>
            <th>基本价格</th>
            <th>结构归类</th>
            <th>更新</th>
            <th>删除</th>
        </thead>
        {% for index, item in enumerate(data) %}
            <tr>
                <td>{{ index+1 }}</td>
                <td>{{ escape(item.product_type) }}</td>
                <td>{{ escape(item.product_structure) }}</td>
                <td>{{ item.product_price }}</td>
                <td>{{ escape(item.product_classify) }}</td>
                <td>
                    <a href="/business/imposition/database/building/update?t=building_basic_price">更新</a>
                </td>
                <td>
                    <a href="/business/imposition/database/building/delete?t=building_basic_price">删除</a>
                </td>
            </tr>
        {% end %}
    </table>
</div>
<a href="/business/imposition/database/building/add?t=building_basic_price" id="building_basic_price_data">add</a>
<div id="building_basic_price_data_field">
    <form action="#">
        产别:<input type="text" name="product_type" value=""/>
    </form>
</div>
