<div class="table">
    <h3>楼房数据基本价格</h3>
    <table>
        <thead>
            <th>序号</th>
            <th>产别</th>
            <th>结构形式及墙体类型</th>
            <th>基本价格</th>
            <th>结构归类</th>
        </thead>
        {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ escape(item.product_type) }}</td>
                <td>{{ escape(item.product_structure) }}</td>
                <td>{{ item.product_price }}</td>
                <td>{{ escape(item.product_classify) }}</td>
            </tr>
        {% end %}
    </table>
</div>
