{% extends "base.html" %}

{% block body %}
    <div>
        <h3>部门业务</h3>
    </div>
    <div>
        <ul id="menu">
            <li>
                <a href="/business/imposition" class="menuLink">{{ _("征收事业部") }}</a>
                <ul>
                    <li><a href="/business/imposition/project" class="showLink">{{ _("项目") }}</a></li>
                    <li><a href="/business/imposition/database" class="showLink">{{ _("基础数据库") }}</a></li>
                </ul>
            </li>
            <li><a href="/business/finance" class="menuLink">{{ _("金融事业部") }}</a></li>
        </ol>
    </div>
{% end %}
